{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": true,
                "regenerator": true
            }
        ],
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": true
            }
        ],
        "transform-decorators-legacy",
        [
            "transform-object-rest-spread"
        ],
        [
            "transform-es2015-classes",
            {
                "loose": true
            }
        ],
        "transform-proto-to-assign"
    ]
}
